<%- include("../partials/header") %>
    <h1 class="display-5 text-center mt-5">Sign up</h1>

    <form class="mt-3" action="/register" method="POST">
        <div class="form-group row justify-content-center">
            <div class="col-4">
                <input name="username" nametype="text" class="form-control" id="username" placeholder="New username">
            </div>
        </div>
        <div class="form-group row justify-content-center">
            <div class="col-4">
                <input name="password" type="password" class="form-control" id="password" placeholder="New password">
            </div>
        </div>
        <div class="form-group row justify-content-center">
            <div class="col-4 text-center">
                <button type="submit" class="btn btn-primary mt-2">Create new account</button>
            </div>
        </div>
    </form>

<%- include("../partials/footer") %>


