<%- include("../partials/header") %>
<br>
<br>
<br>
<br>
<br>
<div class="container">
    <div class="row justify-content-center">
        <div class="col-8 text-center">
            <h1>Thank you for dropping by</h1>
            <br>
            <h6>We appreciate your feedback</h6>
            <a class="btn btn-primary mt-3" href="/teas">Back to home</a>
        </div>
    </div>
</div>


<%- include("../partials/footer") %>
