html {
    min-height: 100%;
    min-width: 100%;
}

/* #landingVideo {
    position: absolute;
    min-width: 100%;
    min-height: 100%;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.content {
    text-align: center;
    position: fixed;
    bottom: 43%;
    background: rgba(0, 0, 0, 0.5);
    color: #f1f1f1;
    width: 100%;
    padding: 20px;
} */

#cart-counter {
    font-size: 15px;
    font-weight: bold;
    padding: 0 4px;
    vertical-align: top;
}

body {
    height: 100%;
    background-image: url("../picture/landingPage.png");
    background-repeat: no-repeat;
    background-position: center;
}

#checkUsOut {
    position: absolute;
    left: 50%;
    top: 65%;
    transform: translate(-50%, -50%);
}

