<%- include("../partials/header") %>
<br>
<br>
<br>
<br>
<br>
<div class="container">
    <div class="row justify-content-center">
        <div class="col-8 text-center">
            <h1>Your order is being prepared</h1>
            <br>
            <h6>Thank you for giving us an opportunity to serve you!</h6>
            <br>
            <br>
            <h2>What's next?</h2>
            <div class="row justify-content-center">
                <div class="col-6">
                    <ol class="list-group">
                        <li>We prepare you order</li>
                        <li>We will call you when its done</li>
                        <li>Pick up and enjoy</li>
                    </ol>
                </div>
            </div>
            <a class="btn btn-primary mt-3" href="/teas">Back to home</a>
        </div>
    </div>
</div>

<%- include("../partials/footer") %>
